---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "$35 PP | Build it",
    description:
      "ET Activity 3-6 hrs. We’ll pick you up at the port and visit West End and West Bay, including stops at the chocolate factory, rum cake makers, and the ROATAN sign. Ask about extra activities like jet-ski, zip-lining, and more. +504 8917-4251",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/35PP_Build_it.webp",
  },
  {
    title: "$69 PP | Family Day Tour",
    description:
      "ET Activity 5-6 hrs. Visit the Animal Park to meet sloths, monkeys, and toucans, then stop by the Chocolate Factory for local treats. Enjoy snacks at the Coral Reef and relax at Emerald Beach, one of the top 10 beaches. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/sanctuary.webp"
  },
  {
    title: "$75 PP | Wildlife Encounter",
    description:
      "ET Activity 5-6 hrs. Interact with sloths, monkeys, and macaws at the Animal Park, then feed iguanas at the Iguana Farm. Enjoy a boat ride along the second-largest coral reef and relax at the beach with access to Wi-Fi, showers, and more. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/75PP_Encounter_with_the_Wild_life.webp"
  },
  {
    title: "$99 PP | Boats-Horses-Beaches",
    description:
      "Ride a horse by the beach, enjoy a boat ride along the west coast, and snack by the coral reef. Swim at Emerald Beach, one of the world's top 10 beaches. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/99PP_Boats_Horses_Beaches.webp"
  },
  {
    title: "$65 PP | The Best of the West",
    description:
      "Explore West End, visit shops, and learn local history. Snorkel at the second-largest coral reef, enjoy a boat ride by mangroves and dolphins, then relax at Emerald Beach. Savor island dishes at a coral reef restaurant. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/The_Best_of_the_West.jpg"
  },
  {
    title: "$109 PP | The Marvelous hidden East",
    description:
      "Explore mangrove canals and colorful villages, spotting crabs, turtles, and fish. Visit Punta Gorda, birthplace of Garifuna culture, rich with traditions, music, and local food. Capture memories at scenic viewpoints. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/The_Marvelous_hidden_East.jpg"
  },
  {
    title: "$109 PP | Explore in 4 Wheels",
    description:
      "Ride through the jungle to the beach on an exciting ATV tour. Visit the local brewery for refreshing drinks, then relax at the beach in this paradise. Enjoy ocean views and unwind. Includes round-trip transport from the port.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/109PP_Explore_in_4_Wheels.webp"
  },
  {
    title: "$95 PP | Jet ski Tour",
    description:
      "30 minutes on a Jet ski, the tour package comes with an island tour, Chocolate samples, rum cake samples, Roatan sign for photos and a day pass for the beach, along with beach chairs and an umbrella (+$15).",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/jetski.webp",
  },
  {
    title: "$95 PP | ATV 4-Wheeler Tour",
    description:
      "ATV adventure, Chocolate samples, rum cake samples, Roatan sign for photos and picking you up and drop off. Duration 3 - 5 hours.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/cuatrimoto.webp",
  },
  {
    title: "$95 PP | Zipline Tour",
    description:
      "Zip-Line adventure, taste of chocolate, rum cake samples, and photos oportunity . Duration 3 - 4 hours.",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/zipline.webp",
  },
  {
    title: "$115 PP | Mangrove Tunel and ATV Adventure",
    description:
"ATV adventure to the mangrove tunnel where you can swim at the beach, visit Punta Gorda and explore Garifuna culture, visit a restaurant (optional)",
    buttonLabel: "Book Now",
    buttonUrl: "booking",
    imageUrl: "/mangrove.webp",
  },
];
---

<ContentSection title="Discover Our Tours" id="tours">
  <Fragment slot="lead">
    <span class="text-primary">Explore</span> a wide range of carefully curated
    <span class="text-primary">tours</span>
    to suit your needs and <span class="text-primary">desires</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, buttonLabel, buttonUrl, imageUrl}) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <img src={imageUrl} alt={title} class="max-w-full h-auto rounded-lg" /> {/* Imagen agregada aquí */}
          <p class="text-center font-extrabold text-l">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
          <a href={buttonUrl} class="mt-4 px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:bg-indigo-700">
        {buttonLabel}
      </a>

        </li>
      ))
    }
  </ul>
</ContentSection>

<a href="/wings-of-hope" style="display: flex; justify-content: center; margin-top: 20px;">
  <img src="/banner 1.jpeg" alt="Descripción del banner" width="970" height="180" />
</a>